<div class="container" style="margin-top: 58px; padding-left: 50px;">
  <div ng-show="!loading">
    <div class="fa-3x" style="text-align: center;">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>
  <div ng-show="loading">
    <div ng-repeat="series in series">
      <div class="container">
        <div class="row" style="padding-top: 10px; padding-bottom: 10px;">
          <div class="col-sm" style="text-align: center; margin:auto; color: black; font-weight: bold;">
            <a href="/series/create/{{stringRefactory(series.name)}}" style="color:black;">
              {{series.name | spaceless}}
            </a>
          </div>
          <div class="col-sm" style="text-align: center; margin:auto;">
            <img src="{{series.image}}" class="seriesLogo" />
          </div>
          <div class="col-sm" style="text-align: center; margin:auto; font-weight: bold;">
            <a href="/series/create/{{stringRefactory(series.name)}}" style="color:black;">
              {{series.name | spaceless}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
