<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" style="font-size: 12pt !important">
    <img src="dist/logo.png" alt="logo" width="150" style="margin-right: 16px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/char/create">Add Character</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/series/create">Add Series</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Top</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Documentation</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <a class="nav-link" href="user" style="padding-right: 15px" ng-show="$ctrl.in">{{$ctrl.in}}</a>
            <li class="nav-item">
                <a class="nav-link" href="login" ng-show="!$ctrl.in">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="signup" style="padding-right: 15px;" ng-show="!$ctrl.in">Sign Up</a>
            </li>
        </ul>
        <form action="persona/search" class="form-inline my-2 my-lg-0">
            <select class="custom-select mr-1" name="type" style="background-color: #253f58;color: white;">
                <option value="character">Character</option>
                <option value="serie">Serie</option>
            </select>
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" name="searchText">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>
        <!-- Dark mode -->
        <img style="padding-left: 10px;" id="darkMode" src="../img/off.png">
    </div>
</nav>