<div class="container" style="margin-top: 58px;padding-left: 50px;">
    <h1>Login page</h1>
    <form name="myForm">
        <span ng-show="myForm.username.$touched && myForm.username.$invalid">The name is required.</span>
        <span ng-show="usersExists">Username or password invalid</span>
        <input type="text" class="form-control" name="username" ng-model="login.username" my-directive
            placeholder="Username" required>
        <span ng-show="myForm.password.$touched && myForm.password.$invalid">The password is required.</span>
        <input type="password" class="form-control" name="password" ng-model="login.password" placeholder="Password"
            required>
        <input type="submit" class="btn btn-primary" ng-click="save(login)" value="Login" />
    </form>
</div>