<div class="container" style="margin-top: 58px; padding-left: 50px;">
  <div ng-show="!$parent.loggedIn">
    You must be logged
  </div>
  <div ng-show="$parent.loggedIn">
    <div ng-show="!loading">
      <div class="fa-3x" style="text-align: center;">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
    </div>
    <div ng-show="loading">
      <div>
        <h2>Series pending to approve</h2>
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="series in series">
              <td><img src="{{series.image}}" width="100" /></td>
              <td>{{series.name}}</td>
              <td>Pending</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h2>Characters pending to approve</h2>
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="prechar in prechars">
              <td><img src="{{prechar.image}}" width="100" /></td>
              <td>{{prechar.name}}</td>
              <td>Pending</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
